<h1>Event Calendar Sign-Ups</h1>
<form [formGroup]="driverForm" (ngSubmit)="onSubmit()">
    <label>
        Name: 
        <input type="text" [formControlName]="nameOfDriver">
    </label>
    <!-- <p>
        Value: {{ nameOfDriver.value }}
    </p> -->
    <p>
        <!--component.ts function onSubmit() not referencing nameOfDriver, Due to change into formBuilder-->
        <button (click)="updateName()">Update</button>
    </p>

    <!--@ToDo: -->
    <!--Insert timeslot picker-->

    <!--Insert Vehicle Model-->

    <!--Insert Staff Person-->

    <p>
        <button type="submit" [disabled]="!driverForm.valid">Submit Appointment Request</button>
    </p>
</form>