<h1>Vehicle Registration</h1>
<form [formGroup]="vehicleCreateForm" (ngSubmit)="onSubmit()" class="normal-form">
    <mat-form-field appearance="outline">
        <mat-label>Vehicle Make:</mat-label>
        <input matInput type="text" formControlName="makeOfVehicle">
        <mat-error align="end">This field is required</mat-error>
        <mat-hint>example: Honda</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Vehicle Model:</mat-label>
        <input matInput type="text" formControlName="modelOfVehicle">
        <mat-error>This field is required</mat-error>
        <mat-hint>example: Civic</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Vehicle Year:</mat-label>
        <input matInput type="number" formControlName="yearOfVehicle">
        <mat-hint>example: 2000</mat-hint>
        <mat-error>This field is required</mat-error>
    </mat-form-field>
</form>


<button type="button" mat-raised-button color="primary" [disabled]="vehicleCreateForm.invalid" (click)="onSubmit()">
    Create
</button>